html,body {
    height: 100%;
    display: flex;
    justify-content: center;
}
#calculator-body {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-self: center;
}
.first-col, #number-grid, #operators-grid {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 5px;
}
.second-col {
    display: flex;
    align-items: flex-end;
}
#calculator-display {
    border: 1px solid black;
    display: flex;
    justify-content: flex-end;
}
#calculator-buttons {
    display: flex;
    gap: 5px;
}
.first-row {
    display: flex;
    justify-content: flex-end;
    gap: 5px;
}